pkgbase = victory-lightdm-litarvan-git
	pkgdesc = Modern and full-featured LightDM theme
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/Vicck-tech/victory-lightdm-litarvan
	arch = any
	license = BSD
	makedepends = git
	makedepends = npm
	depends = lightdm-webkit2-greeter
	provides = victory-lightdm-litarvan
	conflicts = lightdm-webkit-theme-litarvan
	conflicts = victory-lightdm-litarvan
	source = victory-lightdm-litarvan::git+https://github.com/Vicck-tech/victory-lightdm-litarvanLitarvan/lightdm-webkit-theme-litarvan/
	sha512sums = SKIP

pkgname = victory-lightdm-litarvan-git

